<div id="game-list">
  <%= for game <- @games do %>
    <div class="game-entry">
      <h3> <%= game.game_name %> </h3>
        <button
          phx-click="redirect-game"
          phx-value-game_name="<%= game.game_name %>"
          title="See orders for this game"
        >
          See orders
        </button>
    </div>
  <% end %>
<div>
